<div class="parent"> 
    <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
        <div class="form-container sign-up" >
            <form [formGroup]="registerForm" (ngSubmit)=registerSubmit()>
                <h1>Create Account</h1>
                <span>or use your email for registeration</span>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="name" formControlName="name" />
                    <div *ngIf="registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched">
                        Name is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" />
                    <div *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
                        Email is required
                    </div>
                    <div *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
                        Invalid email format
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password" />
                    <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
                        Password is required
                    </div>
                </div>
                <button [disabled]="registerForm.invalid" type="submit">Sign Up</button>
            </form>
        </div>

        <div class="form-container sign-in" >
            <form [formGroup]="loginForm" (ngSubmit)=loginSubmit()>
                <h1>Sign In</h1>
                <span>or use your email password</span>
                 <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" />
                    <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                        Email is required
                    </div>
                    <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
                        Invalid email format
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password" />
                    <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                        Password is required
                    </div>
                </div>
                <a href="#">→ Forget Your Password? ←</a>
                <button [disabled]="loginForm.invalid" type="submit">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false">Sign In</button>
                    <div class="social-icons">
                        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button type="button" class="hidden" id="register" (click)="isSignDivVisiable = true">Sign Up</button>
                    <div class="social-icons">
                        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>